{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block headline %}Choice Widgets{% endblock headline %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">

                <h2 class="page-header">تعديل تصريح</h2>
                {% include 'gatepass/_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}