<!-- Top content -->
<div class="top-content" style="direction: rtl">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register '}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
            </div>
        </div>
    </div>
</div>